# Django
SECRET_KEY=TO_CONFIGURE
DEBUG=False
ALLOWED_HOSTS=ton-domaine.fr
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# GCP
GCP_PROJECT=TO_CONFIGURE
GCS_BUCKET=TO_CONFIGURE
BQ_DATASET=carburants
BQ_TABLE=snapshots
GOOGLE_APPLICATION_CREDENTIALS=/etc/essenciel/gcp-sa.json
